@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start

.header {
    &__inner {
        display: flex;
        justify-content: space-around;
        margin: 0 35px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__social-item {
        width: 50px;
        height: 52px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        margin: 36px 9px 20px;
    }

    &__btn {
        background-image: url(../images/menu-btn.png);
        width: 34px;
        display: none;
        height: 24px;
        z-index: 1;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 50px;
        margin-top: 39px;
    }

    &__social-item--inst {
        background-image: url(../images/social/inst.png);
    }

    &__social-item--fb {
        background-image: url(../images/social/fb.png);
    }

    &__social-item--tw {
        background-image: url(../images/social/tw.png);
    }

    &__social-item--vk {
        background-image: url(../images/social/vk.png);
    }

    &__menu,
    &__menu-list {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 18px;
    }

    &__menu-list {
        padding-top: 22px;

        li {
            padding: 0 25px;
        }

        a {
            @include futuraDemi;
            color: #000000;
            font-size: 20px;
        }
    }

    &__logo-inner {
        padding: 0 25px;
    }

    &__logo-img {
        width: 327px;
        height: 69px;
    }

    &__links {
        margin-top: 40px;
    }

    &__link,
    &__link-enter {
        @include futuraDemi;
        color: #000000;
        font-size: 20px;
        border: 2px solid #000;
        border-radius: 20px;
        margin: 0 12px;
        transition: all 0.3s;

        &:hover {
            border: 2px solid $yellow;
            background-color: $yellow;
        }
    }

    &__link-enter {
        padding: 15px 36px 15px;
    }

    &__link {
        padding: 15px 45px 15px;
    }
}

// header end
// welcome start

.welcome {
    background-image: url(../images/bg/head-bg.jpg);
    width: 100%;
    max-height: 980px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;

    &__inner {
        text-align: center;
        max-width: 770px;
        height: 100%;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12vw;
    }

    &__subtitle {
        @include futuraBook;
        font-size: 20px;
        color: #000000;
        padding-bottom: 25px;
    }

    &__title {
        @include typeWriter;
        font-size: 75px;
        line-height: 90px;
        color: #000000;
        padding-bottom: 30px;
    }

    &__text {
        @include futuraBook;
        font-size: 24px;
        color: #000000;
        margin-bottom: 44px;
    }

    &__link {
        @include futuraBook;
        font-size: 24px;
        color: #000000;
        padding: 16px 30px;
        background-color: $yellow;
        border-radius: 30px;
        border: 2px solid $yellow;
        transition: all 0.3s;

        &:hover {
            background-color: transparent;
            border: 2px solid #000000;
        }
    }
}

// welcome end
// advantages start

.advantages {
    background-image: url(../images/bg/main-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: repeat;
    // position: relative;

    &__inner {
        padding: 110px 0 120px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__item-content {
        text-align: center;
    }

    &__wrapper {
        position: relative;
    }

    &__line--left {
        width: 47.5vw;
        height: 1px;
        background-color: #000000;
        position: absolute;
        left: 0;
        top: 230px;
    }

    &__line--righ {
        width: 45vw;
        height: 1px;
        background-color: #000000;
        position: absolute;
        top: 225px;
        right: 0;
    }

    &__line-circle--left {
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
        position: absolute;
        right: -20px;
        top: -10px;
    }

    &__line-circle--righ {
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
        position: absolute;
        left: -20px;
        top: -10px;
    }

    &__item-content--left {
        padding-right: 110px;
    }

    &__item--left {
        flex-direction: row;
    }

    &__item--right {
        flex-direction: row-reverse;
    }

    &__title {
        @include typeWriter;
        font-size: 35px;
        line-height: 42px;
        color: #000000;
        padding-bottom: 70px;
        max-width: 480px;
        width: 100%;
    }

    &__text {
        @include futuraBook;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 55px;
    }

    &__text--right {
        max-width: 615px;
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 55px;
        line-height: 30px;
    }

    &__img-wrapper--small {
        min-width: 555px;
        min-height: 570px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    &__img--small {
        max-width: 265px;
        max-height: 265px;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    &__link {
        @include futuraBook;
        font-size: 24px;
        color: #000000;
        padding: 16px 32px;
        background-color: $yellow;
        border-radius: 30px;
        border: 2px solid $yellow;
        transition: all 0.3s;

        &:hover {
            background-color: transparent;
            border: 2px solid #000000;
        }
    }

    &__link--left-menu {
        padding: 16px 85px;
    }

    &__img--first {
        max-width: 455px;
        width: 100%;
        max-height: 455px;
        height: 100%;
    }

    &__img--second {
        width: 590px;
        min-height: 410px;
        height: 100%;
        background-size: contain;
        object-fit: cover;
    }

    &__img--third {
        max-width: 501px;
        width: 100%;
        max-height: 478px;
        height: 100%;
        background-size: contain;
        object-fit: cover;
    }
}

.advantages-between {
    &__img {
        width: 100%;
        max-height: 615px;
        height: 100%;
        margin: 0 auto;
    }
}

// advantages end
// questios start

.questions {
    background-image: url(../images/bg/main-bg.jpg);
    width: 100%;
    text-align: center;

    &__inner {
        height: 100%;
        position: relative;
        display: block;
        padding-bottom: 100px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 695px;
        width: 100%;
        text-align: left;
        position: relative;
        z-index: 2;
        border-bottom: 1px solid #000;
        cursor: pointer;
    }

    &__item.on {
        .questions__item-answer {
            padding-top: 10px;
            max-height: 150px;
            height: 100%;
            overflow: hidden;
            text-align: left;
            color: #000000;
            visibility: visible;
            opacity: 1;
            transform: perspective(600px) rotateX(0deg);
            z-index: 1;
        }

        .questions__item-btn {
            transform: rotate(0deg);
        }
    }

    &__title {
        @include typeWriter;
        font-size: 35px;
        color: #000000;
        padding-bottom: 100px;
    }

    &__item-answer {
        max-height: 0;
        height: 0%;
        display: flex;
        background-color: transparent;
        color: transparent;
        transform: perspective(600px) rotateX(-90deg);
        transform-origin: 0% 0%;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s ease-in-out;
        z-index: -1;
    }

    &__item-btn {
        transition: linear 0.5s;
        position: absolute;
        right: 0;
        border: none;
        background-color: transparent;
        background-image: url(../images/cross.svg);
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    &__item-title {
        @include futuraBook;
        font-size: 22px;
        color: #000000;
        padding-top: 25px;
        padding-bottom: 15px;
    }
}

// questios end
// inst start

.inst {
    background-color: #f2f2f2;
    text-align: center;

    &__title {
        @include typeWriter;
        font-size: 35px;
        color: #000000;
        padding-top: 85px;
        padding-bottom: 50px;
    }

    &__link {
        @include futuraBook;
        font-size: 22px;
    }

    &__inner {
        padding-top: 135px;
        display: flex;
        // justify-content: flex-start;
        justify-content: space-between;
        // width: 120%;
        flex-wrap: wrap;
        // margin: 0 auto;
        margin-left: -47px;
        margin-right: -47px;
        // margin-left: -95px;
    }

    &__img {
        display: flex;
        // flex-basis: calc(25% - 95px);
        max-width: 250px;
        width: 100%;
        max-height: 250px;
        height: 100%;
        // margin-left: 95px;
        margin-right: 46px;
        margin-left: 46px;
        margin-bottom: 75px;
    }

    &__img--new {
        display: none;
    }

    &__img-border {
        display: flex;
    }
}

// inst end
// info start

.info {
    text-align: center;
    background-image: url(../images/bg/main-bg.jpg);
    width: 100%;
    // height: 100%;
    padding-top: 125px;

    &__title {
        font-size: 35px;
        @include typeWriter;
        padding-bottom: 110px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-bottom: 165px;
    }

    &__left {
        text-align: left;
        padding-top: 10px;
    }

    &__left-title,
    &__left-address,
    &__left-phone {
        font-size: 22px;
        @include futuraBook;
        padding-bottom: 30px;
    }

    &__left-form {
        margin-top: 35px;
        display: flex;
        max-width: 320px;
        width: 100%;
        flex-direction: column;

        input {
            color: #000;
            background-color: rgba(0, 0, 0, 0.1);
            padding: 13px 22px;
            border: none;
            border-radius: 50px;
            margin-bottom: 18px;

            &::placeholder {
                font-size: 22px;
                @include futuraBook;
                color: #000000;
            }
        }

        button {
            background-color: $yellow;
            border-radius: 30px;
            border: 2px solid $yellow;
            transition: all 0.3s;
            font-size: 22px;
            @include futuraBook;
            color: #000000;
            padding: 18px 30px;
            max-width: 240px;
            width: 100%;

            &:hover {
                background-color: transparent;
                border: 2px solid #000000;
            }
        }
    }
}

// info end
// footer start

.footer {
    background-color: #1f1f1f;
    max-height: 500px;
    height: 100%;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 85px 80px 0 175px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        .footer__item {
            margin-right: 115px;
        }
    }

    &__logo {
        content: url(../images/logo1.png);
        // background-image: url(../images/logo1.png);
    }

    &__list {
        li {
            padding-bottom: 20px;
        }

        a {
            @include futuraBook;
            color: #ffffff;
            font-size: 22px;
            transition: linear 0.3s;

            &:hover {
                color: $yellow;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
        width: fit-content;
        // max-width: 500px;
        max-width: 30vw;
        width: 100%;
        justify-content: flex-end;
        // margin-left: 20vw;
    }

    &__social-link {
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin-left: 17px;
    }

    &__social-link--tw {
        background-image: url(../images/social/tw.png);
    }

    &__social-link--fb {
        background-image: url(../images/social/fb.png);
    }

    &__social-link--vk {
        background-image: url(../images/social/vk.png);
    }

    &__social-link--inst {
        background-image: url(../images/social/inst.png);
    }
}

// footer end

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
