@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start

.header {
    &__inner {
        display: flex;
        justify-content: space-around;
        margin: 0 35px;
    }

    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__social-item {
        width: 50px;
        height: 52px;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-between;
        margin: 36px 9px 20px;
    }

    &__social-item--inst {
        background-image: url(../images/social/inst.png);
    }

    &__social-item--fb {
        background-image: url(../images/social/fb.png);
    }

    &__social-item--tw {
        background-image: url(../images/social/tw.png);
    }

    &__social-item--vk {
        background-image: url(../images/social/vk.png);
    }

    &__menu,
    &__menu-list {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 18px;
    }

    &__menu-list {
        padding-top: 22px;

        li {
            padding: 0 25px;
        }

        a {
            @include futuraDemi;
            color: #000000;
            font-size: 20px;
        }
    }

    &__logo-inner {
        padding: 0 25px;
    }

    &__logo-img {
        width: 327px;
        height: 69px;
    }

    &__links {
        margin-top: 40px;
    }

    &__link,
    &__link-enter {
        @include futuraDemi;
        color: #000000;
        font-size: 20px;
        border: 2px solid #000;
        border-radius: 20px;
        margin: 0 12px;
        transition: all 0.3s;

        &:hover {
            border: 2px solid $yellow;
            background-color: $yellow;
        }
    }

    &__link-enter {
        padding: 15px 36px 15px;
    }

    &__link {
        padding: 15px 45px 15px;
    }
}

// header end
// welcome start

.welcome {
    background-image: url(../images/bg/head-bg.jpg);
    width: 100%;
    max-height: 980px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;

    &__inner {
        text-align: center;
        max-width: 770px;
        height: 100%;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 12vw;
    }

    &__subtitle {
        @include futuraBook;
        font-size: 20px;
        color: #000000;
        padding-bottom: 25px;
    }

    &__title {
        @include typeWriter;
        font-size: 75px;
        line-height: 90px;
        color: #000000;
        padding-bottom: 30px;
    }

    &__text {
        @include futuraBook;
        font-size: 24px;
        color: #000000;
        margin-bottom: 44px;
    }

    &__link {
        @include futuraBook;
        font-size: 24px;
        color: #000000;
        padding: 16px 30px;
        background-color: $yellow;
        border-radius: 30px;
        border: 2px solid $yellow;
        transition: all 0.3s;

        &:hover {
            background-color: transparent;
            border: 2px solid #000000;
        }
    }
}

// welcome end
// advantages start

.advantages {
    background-image: url(../images/bg/main-bg.jpg);
    width: 100%;
    height: fit-content;
    background-repeat: repeat;

    &__inner {
        padding: 110px 0 120px;
    }

    &__item {
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    &__item-content {
        text-align: center;
    }

    &__item-content--left {
        padding-right: 110px;

        &::before {
            position: absolute;
            content: "";
            background-color: #000000;
            width: 48.5vw;
            height: 1px;
            top: 115px;
            left: -330px;
        }

        &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            border-radius: 50%;
            top: 105px;
            // right: 105px;
            right: 51.5%;
        }
    }

    &__item-content--right {
        &::before {
            position: absolute;
            content: "";
            background-color: #000000;
            width: 45.9vw;
            height: 1px;
            top: 75px;
            right: -330px;
        }

        &::after {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            border-radius: 50%;
            top: 65.4px;
            right: 43%;
        }
    }

    &__item--left {
        flex-direction: row;
    }

    &__item--right {
        flex-direction: row-reverse;
    }

    &__title {
        @include typeWriter;
        font-size: 35px;
        line-height: 42px;
        color: #000000;
        padding-bottom: 70px;
    }

    &__text {
        @include futuraBook;
        font-size: 24px;
        line-height: 35px;
        color: #000000;
        margin-bottom: 55px;
    }

    &__text--left {
    }

    &__text--right {
        max-width: 615px;
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 55px;
        line-height: 30px;
    }

    &__img-wrapper--small {
        min-width: 555px;
        min-height: 570px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    &__img--small {
        max-width: 265px;
        max-height: 265px;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    &__link {
        @include futuraBook;
        font-size: 24px;
        color: #000000;
        padding: 16px 32px;
        background-color: $yellow;
        border-radius: 30px;
        border: 2px solid $yellow;
        transition: all 0.3s;

        &:hover {
            background-color: transparent;
            border: 2px solid #000000;
        }
    }

    &__link--left-menu {
        padding: 16px 85px;
    }

    &__img {
        &:nth-child(5) {
            width: 455px;
            height: 455px;
            // background-size: contain;
            // object-fit: cover;
        }

        &:nth-child(6) {
            width: 587px;
            height: 410px;
            background-size: contain;
            object-fit: cover;
        }

        &:nth-child(7) {
            width: 501px;
            height: 478px;
            background-size: contain;
            object-fit: cover;
        }
    }
}

.advantages-between {
    &__img {
        width: 100%;
        max-height: 615px;
        height: 100%;
        margin: 0 auto;
    }
}

// advantages end
//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
